<div class = "row">

      <div class = "col-md-6 col-md-offset-3 center white" id="briefBox">
        <h4><%= info.name %> : <%= query %> <h4>
        <!-- To indicate if it's up or down -->
        <h5><% if(info.change > 0) { %>
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> 
        <% } else if(info.change < 0){ %>

          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>

        <% } else { %>
         <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>

         <%  } %>
          <%= Math.abs(info.change) %>
        </h5> 
        
        <ul class="list-inline">
          <li>OPEN: <%= info.open %></li>
          <li>HIGH: <%= info.daysHigh %></li>
          <li>LOW: <%= info.daysLow %></li>
          <li>RECORDS: <%= data.length %></li>
          <% console.log(info.name); %>
        </ul><!-- THE INLINE LIST SHOWING INFO OF THE STOCK -->
          

         <a href="/"><button id = "returnHome" class = "btn btn-success btn-lg">Back to Home</button></a>
         <button id = "refreshPicture" class = "btn btn-warning btn-lg">Can't See the Graph</button>



          <!-- These are the code to generate the line graph as required. -->
          <% var t = [], open = [], high = [], low = [], close = [];%>
          <% for(var i = 0; i < data.length; i++){  %>
          <% t = t.concat(data[i].date); %>
          <% open = open.concat(data[i].open); %>

         <% } %>
          <!-- we use open price as google -->
         <% var dataOpen = [{x:t, y:open, type: "scatter"}];  %>
         <% var layout = {xaxis: {showticklabels:false},yaxis: {showticklabels:true}}; %>
         <!-- we are not showing the ticker of x and y axis -->
         <% var graphOptions = {layout: layout, filename: "Stock Price Graph", fileopt: "overwrite"};  %>
        
         
         <% plotly.plot(dataOpen, graphOptions, function (err, msg) {  %>
         <%   console.log(msg);  %> <!-- log the plot information to console. -->
         <% });  %>


      <div class="center" id="graphBox">

        <iframe id="graph" width="480" height="360" frameborder="0" seamless="seamless" scrolling="no" src="https://plot.ly/~yuanb10/89.embed?width=480&height=360" ></iframe>


      </div><!-- GRAPHBOX -->


      </div><!-- BREIFBOX -->

       


    </div>
</div> <!-- row -->



